@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Poppins&display=swap');

.scroll {
  overflow-y: auto;
  scrollbar-width: none;
}
.scroll::-webkit-scrollbar {
  display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
